.page-body{
    .pt-3{
        h1{
            font-size: 30px;
        }
    }
}
.section-heading{
    h1{
        font-size: 30px;
    }
}
.article-title a{
    font-size: 20px;
}
.media.stream-item:not(:last-child) {
    margin-bottom: 1rem;
}
.pub-list-item{
    font-size: 16px;
}
.people-widget{
    h2{
        font-size: 24px;
    }
}