<link rel="stylesheet" crossorigin href="/third_party/pizza-wasm/pizza-style-CJzDMFB3.css">
<script type="module" crossorigin src="/third_party/pizza-wasm/modulepreload-polyfill-B5Qt9EMX.js"></script>

{{ if  eq site.Language.Lang "zh"}}
<script type="module" crossorigin src="/third_party/pizza-wasm/pizza-DvAeEfcm.js"></script>
<script type="module">
    import{x as t}from"/third_party/pizza-wasm/pizza-DvAeEfcm.js";  t({container:"#docsearch",default_operator:"AND",number_of_results:10,default_field:"*",dataFile:"",translations:{button:{buttonText:"搜索",buttonAriaLabel:"搜索"},modal:{resetButtonTitle:"清除输入",cancelButtonText:"取消",selectText:"访问",navigateText:"导航",closeText:"关闭",searchDocsPlaceHolder:"搜索"}},dataFile:"/{{site.Language.Lang}}/index.json"});
</script>{{ else }}
<script type="module" crossorigin src="/third_party/pizza-wasm/pizza-DvAeEfcm.js"></script>
<script type="module">
    import{x as e}from"/third_party/pizza-wasm/pizza-DvAeEfcm.js";e({container:"#docsearch",default_operator:"AND",number_of_results:10,default_field:"*",dataFile:"/{{site.Language.Lang}}/index.json"});
</script>

{{ end }}


